global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s
  log global

frontend myfrontend
  bind 0.0.0.0:3000 ssl crt /usr/local/etc/haproxy/cert/localhost.pem ca-file /usr/local/etc/haproxy/cert/ca.crt verify required
#  http-request redirect scheme https unless { ssl_fc }
  default_backend myservers
backend myservers
  server server1 whoami:80

